<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<false/>
	<key>Label</key>
	<string>org.genenews.perlfastcgi</string>
	<key>OnDemand</key>
	<false/>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
	<key>ProgramArguments</key>
	<array>
        <string>/usr/local/var/perl/fastcgi-wrapper.pl</string>
	</array>
	<key>Sockets</key>
	<dict>
		<key>RegistryDomainSocket</key>
		<dict>
			<key>SockFamily</key>
			<string>Unix</string>
			<key>SockPassive</key>
			<true/>
			<key>SockPathMode</key>
			<integer>511</integer>
			<key>SockPathName</key>
            <string>/tmp/perl_cgi-dispatch.sock</string>
		</dict>
	</dict>
    <key>LaunchOnlyOnce</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/perlfastcgi.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/perlfastcgi.log</string>
</dict>
</plist>
