{% extends "base.html" %}
{% load i18n %}

{% block head %}
    <script type="text/javascript" src="/js/md5.js"></script>
    <script type="text/javascript" src="/js/chpw.js"></script>
{% endblock %}

{% block subheader %}
{% include "user_profiles/links.html" %}
{% endblock %}

{% block content %}
<form method="post" action="." onsubmit="pwhash(this)">
    <div>
        {{ form.old_password.errors }}
        {{ form.old_password.label_tag }}: {{ form.old_password }}
    </div>
    <div>
        {{ form.new_password1.errors }}
        {{ form.new_password1.label_tag }}: {{ form.new_password1 }}
    </div>
    <div>
        {{ form.new_password2.errors }}
        {{ form.new_password2.label_tag }}: {{ form.new_password2 }}
    </div>
    <div>
        {{ form.secret }}
        {{ form.sekrit }}
        {{ form.sekrit1 }}
        {{ form.sekrit2 }}
    <input type="submit" value="{% trans 'Submit' %}" />
    </div>
</form>
{% endblock %}
