html {
    height: 100%;
}

body {
    font-family: Helvetica,Arial,Sans-Serif;
    font-size: 0.9em;
    background-color: #99BBFF;
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

div#container {
    margin: 0 auto;
    width: 1000px;
    position: relative;
}

a {
    text-decoration: none;
}

img.vote, img.borderless {
    border: none;
}

div#content {
    position: relative;
}

div#content h2 {
    padding-left: 0em;
}

div#loginarea {
    position: absolute;
    top: 10px;
    right: 10px;
}

div#geneinfo, div#userinfo, div#articleinfo {
    position: absolute;
    top: 0;
    right: 10px;
    border: dotted 1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: white;
}

div.articlevote {
    width: 15px;
    float: left;
    clear: left;
}

div.articlevote img {
    display: block;
    float: none;
    clear: both;
}

span.red {
    color: red;
}

span.blue {
    color: blue;
}

li.even {
    background-color: rgba(255,255,255,0.6);
}

li.odd {
    background-color: rgba(239,239,239,0.6);
}

ol.articlelist {
    list-style: none; 
    padding: 0;
    margin: 0;
}

ol.articlelist li {
    padding: 0.5em;
    margin: 0;
}

ol.articlelist li.first {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
}

ol.articlelist li.last {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
}

ul.singlearticle {
    list-style: none;
    padding: 0;
    margin: 0;
}

div#footer {
    text-align: center;
    padding: 0.5em;
}
