
body {
    margin: 0 auto;
    font-family: Arial,Helvetica,Sans-Serif;
    font-size: 0.9em;
    background-color: #fff;
    position: relative;
}

img.vote {
    border: none;
}

div.articlevote {
    width: 15px;
    float: left; clear: left;
    padding-right: 0.5em;
}

div.articlevote img {
    display: block;
    float: none; clear: both;
}

span.red {
    color: red;
}

span.blue {
    color: blue;
}
