body {
    margin: 0 auto;
    font-family: Arial,Helvetica,Sans-Serif;
    font-size: 0.9em;
    background-color: #fff;
    position: relative;
}

img.vote, img.borderless {
    border: none;
}

div#content {
    position: relative;
}

div#loginarea {
    position: absolute;
    top: 10px;
    right: 10px;
}

div#geneinfo, div#userinfo, div#articleinfo {
    position: absolute;
    top: 0;
    right: 10px;
    border: dotted 1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

div.articlevote {
    width: 15px;
    float: left;
    clear: left;
    padding-right: 0.5em;
}

div.articlevote img {
    display: block;
    float: none;
    clear: both;
}

span.red {
    color: red;
}

span.blue {
    color: blue;
}

li.even {background-color: #ffffff;}
li.odd {background-color: #efefef;}

ol.articlelist {
    list-style: none; 
    padding: 0;
    margin: 0;
}

ul.singlearticle {
    list-style: none;
    padding: 0;
    margin: 0;
}
