{% extends 'base.html' %}

{% block title %}Overview for {{ user.username }}{% endblock title %}

{% block content %}
<h2>Overview for {{ user.username }}</h2>
<div id="userinfo">
    <table>
        <tr>
            <th>Submitted stories</th>
            <td>{{ entries|length }}</td>
        </tr>
        <tr>
            <th>User since</th>
            <td>{{ user.date_joined|timesince }} ago</td>
        </tr>
        <tr>
            <th>Last login</th>
            <td>{{ user.last_login|timesince }} ago</td>
        </tr>
        <tr>
            <th>Points earned</th>
            <td>{{ user_points }}</td>
        </tr>
        <tr>
            <th>Leaderboard rank</th>
            <td>
            {% if user_rank %}
            <a href="{% url leaderboard %}#{{ user.username }}">#{{ user_rank }} all time</a>
            {% else %}
            N/A
            {% endif %}
            </td>
        </tr>
    </table>
<div id="badges" style="text-align: center;">
    {% if user.badge_set.exists %}
        <p><strong>Badges:</strong></p>
    {% for badge in user.badge_set.all %}
        <img src="/media/{{ badge.image }}" alt="{{badge}}" height="64px" width="64px" />
    {% empty %}
        <p>None</p>
    {% endfor %}
    {% endif %}
</div>
</div>
<h3>Submitted stories</h3>
{% include 'article_list.html' %}
{% endblock content %}
