{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock title %}

{% block content %}
<div id="articleinfo">
    <table>
        <tr>
            <th>Submitted</th>
            <td>{{ article.date|timesince }} ago</td>
        </tr>
        <tr>
            <th>Points</th>
            <td>{{ article.get_score }}</td>
        </tr>
        <tr>
            <th>Likes</th>
            <td>{{ likes }}</td>
        </tr>
        <tr>
            <th>Dislikes</th>
            <td>{{ dislikes }}</td>
        </tr>
    </table>
</div>
<ol class="articlelist">
    <li class="odd first last">
    {% include 'article_item.html' %}
    </li>
</ol>
<h3>Related articles</h3>
{% include 'article_list.html' %}
{% endblock content %}
