{% extends 'base.html' %}

{% block title %}Overview for {{ gene.name }}{% endblock title %}

{% block content %}
<h2>Overview for {{ gene.name }}</h2>
<div id="geneinfo">
    <table>
        <tr>
            <th>Sequence</th>
            <td><a href="/jbrowse/?seq={{ gene.sequence }}">{{ gene.sequence }}</a></td>
        </tr>
        <tr>
            <th>Exact location</th>
            <td><a href="/jbrowse/?loc={{ gene.name }}">{{ gene.name }}</a></td>
        </tr>
        <tr>
            <th>JBrowse track</th>
            <td><a href="/jbrowse/?seq={{ gene.sequence }}&amp;tracks={{ gene.track }}">{{ gene.track }}</a></td>
        </tr>
        <tr>
            <th>GenBank</th>
            <td><a href="http://www.ncbi.nlm.nih.gov/nuccore/{{ gene.name }}/">{{ gene.name }}</a></td>
        </tr>
    </table>
</div>
<h3>Related articles</h3>
<div id="articlelist">
    {% include 'article_list.html' %}
</div>
{% endblock content %}
