{% extends 'base.html' %}

{% block title %}Submit{% endblock title %}


{% block head %}
<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script> 
<script type="text/javascript" src="/js/jquery-ui-1.7.2.custom.min.js"></script> 
<script type="text/javascript" src="/js/jquery.autocomplete.min.js"></script> 
<link rel="stylesheet" href="/css/jquery-ui-1.7.2.custom.css" /> 
<link rel="stylesheet" type="text/css" href="/css/jquery.autocomplete.css" /> 

<script type="text/javascript">
{% comment %}
Add these CDATA tags because the insertion of HTML with .append() causes the document not to
validate. Actually if we were serving it as application/xml+xhtml it wouldn't work at all.
{% endcomment %}
//<![CDATA[
var members = new Array();
$(document).ready(function(){
  $('#addgene').autocomplete('{% url gene_autocomplete %}', {
    dataType: 'json',
    formatItem: function(item) {
      return item;},
    parse: function(data) {
      var array = new Array();
      for (var i=0; i<data.length; i++){
        array[array.length]={value: data[i].id, data: data[i].name};
      }
      return array;
    }}
  ).result(function(event, item, id) {
    if (members.indexOf(item) == -1)
    {
      $('#genes').append('<p style="margin:3px"><input type="checkbox" name="gene" value="'+id+'" checked="checked" />'+item+'</p>');
      members.splice(members.length,0,item);
    }
    $('#addgene').val('');
  });
});
//]]>
</script>
{% endblock head %}


{% block content %}
<form method="post">
	<table>
    {% for field in form %}
        <tr>
            <th style="text-align: left;">{{ field.label_tag }}</th>
            <td>{{ field }}</td>
            <td>{{ field.errors }}</td>
        </tr>
    {% endfor %}
        <tr>
			<th style="text-align: left;">Gene(s)</th>
            <td><input type="text" id="addgene" /><div id="genes">{% for gene in genes %}<p style="margin:3px"><input type="checkbox" name="gene" value="{{ gene.id }}" checked="checked" />{{ gene }}</p>{% endfor %}</div></td>
			<td>{% comment %}empty{% endcomment %}</td>
		</tr>
	</table>
	<input type="submit" value="Submit" />
</form>
{% endblock content %}
